In [26]:
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from algorithms.simulated_annealing import Annealing as SA
from tools.data_loader import get_data
from tools.measures import get_all_results
from tools.check_result import check, get_res

pd.options.display.max_rows = 100

# Лабораторная работа № 4

## A simulated annealing algorithm for manufacturing cell formation problem

Выполнили Куклин, Кислицына, Аросланкин.  
Здесь представлены результаты работы алгоритма Имитации отжига (далее SA) для решения CFP.  
Описание алгоритма и параметров можно найти в [статье](https://ir.nctu.edu.tw/bitstream/11536/9500/1/000253183700003.pdf).

### Эксперименты

Выкачиваем и формируем примеры задач, на которых будем проводить эксперименты.

In [30]:
files = os.listdir('./data/cfp_data')
files.sort()
cases = []
for file in files:
    cases.append(get_data(file))

20x20.txt  is done!
24x40.txt  is done!
30x50.txt  is done!
30x90.txt  is done!
37x53.txt  is done!

Параметры алгоритма:  
* **C** - стартовое количество кластеров
* **T0** - стартовое значение температуры
* **Tf** - предельное значение температуры (при достижение ее останавливаем итерацию алгоритма)  
* **alpha** - коэффициент снижения температуры с каждой итерацией
* **L** - длина Марковской цепи (кол-во итераций для внутреннего цикла)
* **D** - период выполнения exchange-move  
* **check** - ограничение на простаивание внутреннего цикла 
(ограничивает кол-во раз, когда соседнее полученное решение совпадает с предыдущим решением)

Теперь для каждого примера задачи запустим алгоритм с разными значениями параметров.   
Для каждого набора параметров высчитаем среднее время выполнения алгоритма (среднее из 10 итераций) 
(**mean_time**), покажем значение целевой функции для найденного решения (**efficacy**) и кол-во кластеров, 
соответствующие данному решению (**clusters**).   

Для данного эксперимента были взяты следующие значения параметров:  
* **C** = 2
* **T0** = {10, 30, 50}
* **Tf** = 0.002
* **alpha** = {0.7, 0.8, 0.9}
* **L** = {10, 30, 70}
* **D** = {6, 12, 18} 
* **check** = 4

In [4]:
df = get_all_results(cases)

100%|██████████| 5/5 [1:37:52<00:00, 1174.54s/it]

Разберем каждый пример по-отдельности:

## 20x20

Таблицы, которые показывают результаты для всех сочетаний изменяемых параметров, снесены вниз, так как они большие.
Далее будут приведены и описаны выборки из этих таблиц для наглядности.

Посмотрим, как меняется время работы SA и его результаты в зависимости от каждого изменяемого параметра.

#### Параметр D (период exchange-move):

In [7]:
df[(df.case == '20x20.txt') & (df.T0 == 50) & (df.alpha == 0.9) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']]

    T0  alpha   L   D  mean_time  efficacy  clusters
78  50    0.9  70   6  26.252254  0.424460         5
79  50    0.9  70  12  13.002107  0.403409         3
80  50    0.9  70  18  12.944870  0.403409         3

При прочих равных условиях при уменьшении параметра **D** увеличивается время работы алгоритма, но при этом повышается и оптимальность решения, что логично, потому что при меньшем **D** мы чаще делаем exchange-move, а значит чаще выпригиваем из локальных минимумов.

#### Параметр L (кол-во итерации для внутреннего цикла):

In [8]:
df[(df.case == '20x20.txt') & (df.T0 == 50) & (df.alpha == 0.9) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']]

    T0  alpha   L  D  mean_time  efficacy  clusters
72  50    0.9  10  6   0.668669   0.42446         5
75  50    0.9  30  6  10.132343   0.42446         5
78  50    0.9  70  6  26.252254   0.42446         5

Увеличение **L** дает сильный прирост времени работы алгоритма.    
Как видно из общей таблицы, на решение, которое выдает SA **для данного примера**, влияет только параметр **D**. От изменения других параметров решение не меняется.

#### Параметр alpha (коэффициент понижения температуры):

In [9]:
df[(df.case == '20x20.txt') & (df.T0 == 50) & (df.L == 70) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']]

    T0  alpha   L  D  mean_time  efficacy  clusters
60  50    0.7  70  6  16.223227   0.42446         5
69  50    0.8  70  6  24.646752   0.42446         5
78  50    0.9  70  6  26.252254   0.42446         5

Чем выше данный коэффициент, тем медленнее понижается температура, соответственно, время работы алгоритма больше.

#### Параметр T0 (начальная температура):

In [10]:
df[(df.case == '20x20.txt') & (df.alpha == 0.9) & (df.L == 70) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']]

    T0  alpha   L  D  mean_time  efficacy  clusters
24  10    0.9  70  6  18.132738   0.42446         5
51  30    0.9  70  6  18.605710   0.42446         5
78  50    0.9  70  6  26.252254   0.42446         5

При повышении начальной температуры, начиная с определенного значения, время работы тоже повышается.

## 24x40

In [15]:
print('Изменения D')
display(df[(df.case == '24x40.txt') & (df.T0 == 50) & (df.alpha == 0.8) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения L')
display(df[(df.case == '24x40.txt') & (df.T0 == 50) & (df.alpha == 0.9) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения alpha')
display(df[(df.case == '24x40.txt') & (df.T0 == 50) & (df.D == 6) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения T0')
display(df[(df.case == '24x40.txt') & (df.D == 6) & (df.alpha == 0.9) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

Изменения D

     T0  alpha   L   D  mean_time  efficacy  clusters
150  50    0.8  70   6   1.488221  0.364807         5
151  50    0.8  70  12  15.590912  0.363248         5
152  50    0.8  70  18   0.715981  0.363248         5

Изменения L

     T0  alpha   L  D  mean_time  efficacy  clusters
153  50    0.9  10  6   0.480656  0.364807         5
156  50    0.9  30  6   1.090023  0.364807         5
159  50    0.9  70  6   1.461864  0.364807         5

Изменения alpha

     T0  alpha   L  D  mean_time  efficacy  clusters
141  50    0.7  70  6   1.457013  0.364807         5
150  50    0.8  70  6   1.488221  0.364807         5
159  50    0.9  70  6   1.461864  0.364807         5

Изменения T0

     T0  alpha   L  D  mean_time  efficacy  clusters
105  10    0.9  70  6   1.459055  0.364807         5
132  30    0.9  70  6   1.502007  0.364807         5
159  50    0.9  70  6   1.461864  0.364807         5

Опять можно сделать вывод, что на результаты данного примера не особо влияют изменения параметров **L**, **alpha** и **T0**, а больше влияет параметр **D**. По времени работы можно сказать, что увеличение **L** увеличивает время, а вот **T0** и **alpha** практически не меняют в этом случае время работы. Для **D** = 12 время работы резко увеличивается, вероятно при таком периоде exchange-move алгоритм выскакиев из какого-то локального минимума и дольго после этого постепенно спускается.

## 30x50

In [24]:
print('Изменения D')
display(df[(df.case == '30x50.txt') & (df.T0 == 10) & (df.alpha == 0.7) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения L')
display(df[(df.case == '30x50.txt') & (df.T0 == 50) & (df.alpha == 0.9) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения alpha')
display(df[(df.case == '30x50.txt') & (df.T0 == 50) & (df.D == 6) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения T0')
display(df[(df.case == '30x50.txt') & (df.D == 6) & (df.alpha == 0.9) & (df.L == 70)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

Изменения D

     T0  alpha   L   D  mean_time  efficacy  clusters
162  10    0.7  10   6   5.932926  0.487923        10
163  10    0.7  10  12   4.283469  0.487923        10
164  10    0.7  10  18   4.125273  0.487923        10

Изменения L

     T0  alpha   L  D  mean_time  efficacy  clusters
234  50    0.9  10  6   5.115053  0.487923        10
237  50    0.9  30  6  40.071485  0.487923        10
240  50    0.9  70  6  87.229098  0.487923        10

Изменения alpha

     T0  alpha   L  D  mean_time  efficacy  clusters
222  50    0.7  70  6  22.943145  0.487923        10
231  50    0.8  70  6  39.126161  0.487923        10
240  50    0.9  70  6  87.229098  0.487923        10

Изменения T0

     T0  alpha   L  D  mean_time  efficacy  clusters
186  10    0.9  70  6  72.378442  0.487923        10
213  30    0.9  70  6  82.458045  0.487923        10
240  50    0.9  70  6  87.229098  0.487923        10

По общей таблице можно заметить, что на результаты не повлияло изменение ни одного параметра. Поэтому рассмотрим изменение времени работы. При увеличение **L**, **alpha** и **T0** большой прирост по времени. На маленьком **D** работает дольше, чем на больших.

## 30x90

In [21]:
print('Изменения D')
display(df[(df.case == '30x90.txt') & (df.T0 == 50) & (df.alpha == 0.8) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения L')
display(df[(df.case == '30x90.txt') & (df.T0 == 50) & (df.alpha == 0.8) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения alpha')
display(df[(df.case == '30x90.txt') & (df.T0 == 50) & (df.D == 6) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения T0')
display(df[(df.case == '30x90.txt') & (df.D == 6) & (df.alpha == 0.8) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

Изменения D

     T0  alpha   L   D  mean_time  efficacy  clusters
306  50    0.8  10   6   7.796792  0.387097         7
307  50    0.8  10  12   7.151341  0.378238         7
308  50    0.8  10  18   8.507877  0.378238         7

Изменения L

     T0  alpha   L  D  mean_time  efficacy  clusters
306  50    0.8  10  6   7.796792  0.387097         7
309  50    0.8  30  6   4.006400  0.281179         3
312  50    0.8  70  6   4.157988  0.281179         3

Изменения alpha

     T0  alpha   L  D  mean_time  efficacy  clusters
297  50    0.7  10  6   7.811417  0.359102         7
306  50    0.8  10  6   7.796792  0.387097         7
315  50    0.9  10  6   4.398141  0.281179         3

Изменения T0

     T0  alpha   L  D  mean_time  efficacy  clusters
252  10    0.8  10  6   2.721576  0.277162         3
279  30    0.8  10  6   3.033241  0.280460         3
306  50    0.8  10  6   7.796792  0.387097         7

В данном примере дела обстоят интереснее. Увеличение **T0** повышает как время, так и оптимальность результата. В противовес в первым трем примерам, увеличение параметров **L** и **alpha** уменьшает время работы, а **D** увеличивает. Посмотрим на послений пример и сделаем общие выводы по данным изменяемым параметрам.

## 37x53

In [27]:
print('Изменения D')
display(df[(df.case == '37x53.txt') & (df.T0 == 50) & (df.alpha == 0.8) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения L')
display(df[(df.case == '37x53.txt') & (df.T0 == 50) & (df.alpha == 0.8) & (df.D == 6)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения alpha')
display(df[(df.case == '37x53.txt') & (df.T0 == 50) & (df.D == 6) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('Изменения T0')
display(df[(df.case == '37x53.txt') & (df.D == 6) & (df.alpha == 0.7) & (df.L == 10)][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

Изменения D

     T0  alpha   L   D  mean_time  efficacy  clusters
387  50    0.8  10   6   0.875844  0.604651         3
388  50    0.8  10  12   0.819429  0.604651         3
389  50    0.8  10  18   0.805068  0.600736         3

Изменения L

     T0  alpha   L  D  mean_time  efficacy  clusters
387  50    0.8  10  6   0.875844  0.604651         3
390  50    0.8  30  6   0.988686  0.604651         3
393  50    0.8  70  6   1.003060  0.604651         3

Изменения alpha

     T0  alpha   L  D  mean_time  efficacy  clusters
378  50    0.7  10  6   0.815036  0.604651         3
387  50    0.8  10  6   0.875844  0.604651         3
396  50    0.9  10  6   0.984605  0.604651         3

Изменения T0

     T0  alpha   L  D  mean_time  efficacy  clusters
324  10    0.7  10  6   0.715442  0.582267         3
351  30    0.7  10  6   0.764134  0.604651         3
378  50    0.7  10  6   0.815036  0.604651         3

Эталонный пример. Увеличение параметров **L**, **alpha** и **T0** увеличитает время работы, но и немного улучшает результаты. Уменьшение **D** увеличивает время работы и немного улучшает результаты.

***Общий вывод по параметрам D, L, alpha и T0:***  
Раз на раз не приходится. По большинству примеров можно заметить общую тенденцию, что увеличение значения параметров **L**, **alpha** и **T0** увеличивает время работы алгоритма и бывает немногим улучшает результаты. Изменение **D** влияет по-разному.

Сравним время работы SA для решения этих 5 примеров между собой при одинаковых параметрах.

In [28]:
display(df[(df.T0 == 50) & (df.alpha == 0.8) & (df.L == 10) & (df.D == 6)][['case', 'T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

          case  T0  alpha   L  D  mean_time  efficacy  clusters
63   20x20.txt  50    0.8  10  6   1.425370  0.424460         5
144  24x40.txt  50    0.8  10  6   0.765054  0.364807         5
225  30x50.txt  50    0.8  10  6   5.463814  0.487923        10
306  30x90.txt  50    0.8  10  6   7.796792  0.387097         7
387  37x53.txt  50    0.8  10  6   0.875844  0.604651         3

От количества машин и деталей время особо не зависит. Оно зависит больше от количества кластеров, на которые следует разбивать: чем кластеров больше, соответственно тем дольше до них доходит алгоритм.

## Лучшие полученные результаты

Найдем лучшие решения, которые получились в предыдущем эксперименте, и для них лучшее время.

In [20]:
ind = []
for case in ['20x20.txt', '24x40.txt', '30x50.txt', '30x90.txt', '37x53.txt']:
    m = df[df.case == case]['efficacy'].max()
    ind.append(df[(df.case == case) & (df.efficacy == m)]['mean_time'].idxmin())
df_sol = df.iloc[ind]
df_sol.index = range(5)
df_sol

,case,C,T0,Tf,alpha,L,D,check,mean_time,efficacy,clusters
0,20x20.txt,2,50,0.002,0.9,10,6,4,0.668669,0.424460,5
1,24x40.txt,2,10,0.002,0.7,10,18,4,1.232533,0.418848,7
2,30x50.txt,2,10,0.002,0.8,10,6,4,3.831539,0.487923,10
3,30x90.txt,2,50,0.002,0.8,10,6,4,7.796792,0.387097,7
4,37x53.txt,2,30,0.002,0.7,70,6,4,0.734502,0.604651,3

Но в ходе экспериментов было замечено, что для некоторых задач для получения более оптимального решения необходимо увеличить начальное количество кластеров.

И мы нашли следующие улучшения:

In [10]:
df_C = pd.read_csv('./data/results_С.csv')
df_C.drop('Unnamed: 0', 1, inplace=True)
ind = []
for case in ['24x40.txt', '30x90.txt',]:
    m = df_C[df_C.case == case]['efficacy'].max()
    ind.append(df_C[(df_C.case == case) & (df_C.efficacy == m)]['mean_time'].idxmin())
df_C.iloc[ind]

,case,C,T0,Tf,alpha,L,D,check,mean_time,efficacy,clusters
17,24x40.txt,10,50,0.002,0.7,70,18,4,2.242713,0.456376,11
33,30x90.txt,10,50,0.002,0.7,70,6,4,15.793779,0.399471,11

## Итоговые лучшие результаты
Решения, соответствующие данным результатам, находятся в [папке](https://github.com/kislN/CellFormationProblem/tree/master/data/solutions)

In [29]:
df_sol.iloc[1] = df_C.iloc[17]
df_sol.iloc[3] = df_C.iloc[33]
df_sol

,case,C,T0,Tf,alpha,L,D,check,mean_time,efficacy,clusters
0,20x20.txt,2,50,0.002,0.9,10,6,4,0.668669,0.424460,5
1,24x40.txt,10,50,0.002,0.7,70,18,4,2.242713,0.456376,11
2,30x50.txt,2,10,0.002,0.8,10,6,4,3.831539,0.487923,10
3,30x90.txt,10,50,0.002,0.7,70,6,4,15.793779,0.399471,11
4,37x53.txt,2,30,0.002,0.7,70,6,4,0.734502,0.604651,3

## Таблицы со всеми наборами изменяемых параметров для каждого отдельного примера

In [72]:
print('20x20')
display(df[df.case == '20x20.txt'][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('\n24x40')
display(df[df.case == '24x40.txt'][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('\n30x50')
display(df[df.case == '30x50.txt'][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('\n30x90')
display(df[df.case == '30x90.txt'][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])
print('\n37x53')
display(df[df.case == '37x53.txt'][['T0', 'alpha', 'L', 'D', 'mean_time', 'efficacy', 'clusters']])

20x20

    T0  alpha   L   D  mean_time  efficacy  clusters
0   10    0.7  10   6   0.630770  0.420290         5
1   10    0.7  10  12   0.325325  0.403409         3
2   10    0.7  10  18   0.353506  0.403409         3
3   10    0.7  30   6   5.809688  0.424460         5
4   10    0.7  30  12   1.190165  0.403409         3
5   10    0.7  30  18   1.285646  0.403409         3
6   10    0.7  70   6  10.409518  0.424460         5
7   10    0.7  70  12   2.637017  0.403409         3
8   10    0.7  70  18   2.637063  0.403409         3
9   10    0.8  10   6   0.756210  0.420290         5
10  10    0.8  10  12   0.179056  0.403409         3
11  10    0.8  10  18   0.246850  0.403409         3
12  10    0.8  30   6   5.895384  0.424460         5
13  10    0.8  30  12   2.117005  0.403409         3
14  10    0.8  30  18   2.089130  0.403409         3
15  10    0.8  70   6  15.665783  0.424460         5
16  10    0.8  70  12   4.871879  0.403409         3
17  10    0.8  70  18   4.738051  0.403409         3
18  10    0.9  10   6   1.174835  0.424460         5
19  10    0.9  10  12   0.393315  0.403409         3
20  10    0.9  10  18   0.232835  0.403409         3
21  10    0.9  30   6  10.333080  0.424460         5
22  10    0.9  30  12   4.670567  0.403409         3
23  10    0.9  30  18   4.628988  0.403409         3
24  10    0.9  70   6  18.132738  0.424460         5
25  10    0.9  70  12  10.716296  0.403409         3
26  10    0.9  70  18  10.748065  0.403409         3
27  30    0.7  10   6   1.296989  0.424460         5
28  30    0.7  10  12   0.216428  0.403409         3
29  30    0.7  10  18   0.342662  0.403409         3
30  30    0.7  30   6   4.842466  0.424460         5
31  30    0.7  30  12   1.387944  0.403409         3
32  30    0.7  30  18   1.385826  0.403409         3
33  30    0.7  70   6  15.264228  0.424460         5
34  30    0.7  70  12   3.061067  0.403409         3
35  30    0.7  70  18   3.059820  0.403409         3
36  30    0.8  10   6   1.231781  0.424460         5
37  30    0.8  10  12   0.421106  0.403409         3
38  30    0.8  10  18   0.179150  0.403409         3
39  30    0.8  30   6   9.013131  0.424460         5
40  30    0.8  30  12   2.390321  0.403409         3
41  30    0.8  30  18   2.391935  0.403409         3
42  30    0.8  70   6  16.766356  0.424460         5
43  30    0.8  70  12   5.443533  0.403409         3
44  30    0.8  70  18   5.470528  0.403409         3
45  30    0.9  10   6   1.173828  0.424460         5
46  30    0.9  10  12   0.142709  0.403409         3
47  30    0.9  10  18   0.152302  0.403409         3
48  30    0.9  30   6   9.836851  0.424460         5
49  30    0.9  30  12   5.304862  0.403409         3
50  30    0.9  30  18   5.283894  0.403409         3
51  30    0.9  70   6  18.605710  0.424460         5
52  30    0.9  70  12  12.287371  0.403409         3
53  30    0.9  70  18  12.164778  0.403409         3
54  50    0.7  10   6   1.313213  0.424460         5
55  50    0.7  10  12   0.171940  0.403409         3
56  50    0.7  10  18   0.130384  0.403409         3
57  50    0.7  30   6   6.911416  0.424460         5
58  50    0.7  30  12   1.486832  0.403409         3
59  50    0.7  30  18   1.478135  0.403409         3
60  50    0.7  70   6  16.223227  0.424460         5
61  50    0.7  70  12   3.334445  0.403409         3
62  50    0.7  70  18   3.305800  0.403409         3
63  50    0.8  10   6   1.425370  0.424460         5
64  50    0.8  10  12   0.184073  0.403409         3
65  50    0.8  10  18   0.171237  0.403409         3
66  50    0.8  30   6   8.268989  0.424460         5
67  50    0.8  30  12   2.514204  0.403409         3
68  50    0.8  30  18   2.501544  0.403409         3
69  50    0.8  70   6  24.646752  0.424460         5
70  50    0.8  70  12   5.742558  0.403409         3
71  50    0.8  70  18   5.727154  0.403409         3
72  50    0.9  10   6   0.668669  0.424460         5
73  50    0.9  10  12   0.196224  0.403409         3
74  50    0.9  10  18   0.141411  0.403409         3
75  50    0.9  30   6  10.132343  0.424460         5
76  50    0.9  30  12   5.602370  0.403409         3
77  50    0.9  30  18   5.585181  0.403409         3
78  50    0.9  70   6  26.252254  0.424460         5
79  50    0.9  70  12  13.002107  0.403409         3
80  50    0.9  70  18  12.944870  0.403409         3

24x40

     T0  alpha   L   D  mean_time  efficacy  clusters
81   10    0.7  10   6   1.016158  0.364807         5
82   10    0.7  10  12   0.750260  0.363248         5
83   10    0.7  10  18   1.232533  0.418848         7
84   10    0.7  30   6   1.035369  0.364807         5
85   10    0.7  30  12   2.735826  0.363248         5
86   10    0.7  30  18   0.726663  0.363248         5
87   10    0.7  70   6   1.482354  0.364807         5
88   10    0.7  70  12   5.431609  0.363248         5
89   10    0.7  70  18   0.802608  0.363248         5
90   10    0.8  10   6   1.281317  0.364807         5
91   10    0.8  10  12   0.960415  0.363248         5
92   10    0.8  10  18   0.687002  0.363248         5
93   10    0.8  30   6   1.042922  0.364807         5
94   10    0.8  30  12   5.348228  0.363248         5
95   10    0.8  30  18   0.764911  0.363248         5
96   10    0.8  70   6   1.492478  0.364807         5
97   10    0.8  70  12  13.098752  0.363248         5
98   10    0.8  70  18   0.785687  0.363248         5
99   10    0.9  10   6   0.895715  0.364807         5
100  10    0.9  10  12   0.725587  0.363248         5
101  10    0.9  10  18   0.749367  0.363248         5
102  10    0.9  30   6   1.045727  0.364807         5
103  10    0.9  30  12  13.933007  0.363248         5
104  10    0.9  30  18   0.761177  0.363248         5
105  10    0.9  70   6   1.459055  0.364807         5
106  10    0.9  70  12  31.540049  0.363248         5
107  10    0.9  70  18   0.730438  0.363248         5
108  30    0.7  10   6   1.036308  0.364807         5
109  30    0.7  10  12   0.777777  0.363248         5
110  30    0.7  10  18   0.702226  0.363248         5
111  30    0.7  30   6   1.019890  0.364807         5
112  30    0.7  30  12   3.158765  0.363248         5
113  30    0.7  30  18   0.739090  0.363248         5
114  30    0.7  70   6   1.450639  0.364807         5
115  30    0.7  70  12   6.483725  0.363248         5
116  30    0.7  70  18   0.762604  0.363248         5
117  30    0.8  10   6   0.460799  0.364807         5
118  30    0.8  10  12   0.748813  0.363248         5
119  30    0.8  10  18   0.701105  0.363248         5
120  30    0.8  30   6   1.040472  0.364807         5
121  30    0.8  30  12   6.544397  0.363248         5
122  30    0.8  30  18   0.735913  0.363248         5
123  30    0.8  70   6   1.484261  0.364807         5
124  30    0.8  70  12  14.157208  0.363248         5
125  30    0.8  70  18   0.744863  0.363248         5
126  30    0.9  10   6   1.439859  0.364807         5
127  30    0.9  10  12   0.787289  0.363248         5
128  30    0.9  10  18   0.761667  0.363248         5
129  30    0.9  30   6   1.028215  0.364807         5
130  30    0.9  30  12  15.980059  0.363248         5
131  30    0.9  30  18   0.768677  0.363248         5
132  30    0.9  70   6   1.502007  0.364807         5
133  30    0.9  70  12  34.286434  0.363248         5
134  30    0.9  70  18   0.750414  0.363248         5
135  50    0.7  10   6   0.700177  0.364807         5
136  50    0.7  10  12   1.056040  0.363248         5
137  50    0.7  10  18   0.711623  0.363248         5
138  50    0.7  30   6   1.040846  0.364807         5
139  50    0.7  30  12   3.600847  0.363248         5
140  50    0.7  30  18   0.740913  0.363248         5
141  50    0.7  70   6   1.457013  0.364807         5
142  50    0.7  70  12   7.563817  0.363248         5
143  50    0.7  70  18   0.758373  0.363248         5
144  50    0.8  10   6   0.765054  0.364807         5
145  50    0.8  10  12   1.164793  0.363248         5
146  50    0.8  10  18   0.666586  0.363248         5
147  50    0.8  30   6   1.035380  0.364807         5
148  50    0.8  30  12   6.974041  0.363248         5
149  50    0.8  30  18   0.774791  0.363248         5
150  50    0.8  70   6   1.488221  0.364807         5
151  50    0.8  70  12  15.590912  0.363248         5
152  50    0.8  70  18   0.715981  0.363248         5
153  50    0.9  10   6   0.480656  0.364807         5
154  50    0.9  10  12   0.618230  0.363248         5
155  50    0.9  10  18   0.720649  0.363248         5
156  50    0.9  30   6   1.090023  0.364807         5
157  50    0.9  30  12  16.715425  0.363248         5
158  50    0.9  30  18   0.758577  0.363248         5
159  50    0.9  70   6   1.461864  0.364807         5
160  50    0.9  70  12  26.869930  0.363248         5
161  50    0.9  70  18   0.741230  0.363248         5

30x50

     T0  alpha   L   D  mean_time  efficacy  clusters
162  10    0.7  10   6   5.932926  0.487923        10
163  10    0.7  10  12   4.283469  0.487923        10
164  10    0.7  10  18   4.125273  0.487923        10
165  10    0.7  30   6  10.378035  0.487923        10
166  10    0.7  30  12   6.654758  0.487923        10
167  10    0.7  30  18   7.522489  0.487923        10
168  10    0.7  70   6  18.151430  0.487923        10
169  10    0.7  70  12   9.993583  0.487923        10
170  10    0.7  70  18  11.074350  0.487923        10
171  10    0.8  10   6   3.831539  0.487923        10
172  10    0.8  10  12   4.493710  0.487923        10
173  10    0.8  10  18   5.098715  0.487923        10
174  10    0.8  30   6  16.512908  0.487923        10
175  10    0.8  30  12  10.819868  0.487923        10
176  10    0.8  30  18  11.172173  0.487923        10
177  10    0.8  70   6  32.703976  0.487923        10
178  10    0.8  70  12  20.124349  0.487923        10
179  10    0.8  70  18  21.122536  0.487923        10
180  10    0.9  10   6   5.208954  0.487923        10
181  10    0.9  10  12   3.961591  0.487923        10
182  10    0.9  10  18   5.196213  0.487923        10
183  10    0.9  30   6  33.585811  0.487923        10
184  10    0.9  30  12  22.800767  0.487923        10
185  10    0.9  30  18  20.221605  0.487923        10
186  10    0.9  70   6  72.378442  0.487923        10
187  10    0.9  70  12  47.923345  0.487923        10
188  10    0.9  70  18  48.962074  0.487923        10
189  30    0.7  10   6   5.073477  0.487923        10
190  30    0.7  10  12   3.885787  0.487923        10
191  30    0.7  10  18   4.756977  0.487923        10
192  30    0.7  30   6  11.535795  0.487923        10
193  30    0.7  30  12   7.334095  0.487923        10
194  30    0.7  30  18   7.690375  0.487923        10
195  30    0.7  70   6  21.097364  0.487923        10
196  30    0.7  70  12  12.274363  0.487923        10
197  30    0.7  70  18  13.226572  0.487923        10
198  30    0.8  10   6   6.752833  0.487923        10
199  30    0.8  10  12   4.525455  0.487923        10
200  30    0.8  10  18   4.440946  0.487923        10
201  30    0.8  30   6  18.584420  0.487923        10
202  30    0.8  30  12  12.270305  0.487923        10
203  30    0.8  30  18  12.604790  0.487923        10
204  30    0.8  70   6  37.428082  0.487923        10
205  30    0.8  70  12  23.359702  0.487923        10
206  30    0.8  70  18  24.364093  0.487923        10
207  30    0.9  10   6   5.568540  0.487923        10
208  30    0.9  10  12   5.147982  0.487923        10
209  30    0.9  10  18   5.681836  0.487923        10
210  30    0.9  30   6  38.366578  0.487923        10
211  30    0.9  30  12  25.908909  0.487923        10
212  30    0.9  30  18  26.194869  0.487923        10
213  30    0.9  70   6  82.458045  0.487923        10
214  30    0.9  70  12  55.186775  0.487923        10
215  30    0.9  70  18  56.255082  0.487923        10
216  50    0.7  10   6   5.942892  0.487923        10
217  50    0.7  10  12   3.928140  0.487923        10
218  50    0.7  10  18   4.131289  0.487923        10
219  50    0.7  30   6  12.441855  0.487923        10
220  50    0.7  30  12   7.862026  0.487923        10
221  50    0.7  30  18   8.354321  0.487923        10
222  50    0.7  70   6  22.943145  0.487923        10
223  50    0.7  70  12  13.427359  0.487923        10
224  50    0.7  70  18  14.396799  0.487923        10
225  50    0.8  10   6   5.463814  0.487923        10
226  50    0.8  10  12   4.144783  0.487923        10
227  50    0.8  10  18   4.286585  0.487923        10
228  50    0.8  30   6  19.325563  0.487923        10
229  50    0.8  30  12  12.626385  0.487923        10
230  50    0.8  30  18  10.675141  0.487923        10
231  50    0.8  70   6  39.126161  0.487923        10
232  50    0.8  70  12  24.611523  0.487923        10
233  50    0.8  70  18  25.710935  0.487923        10
234  50    0.9  10   6   5.115053  0.487923        10
235  50    0.9  10  12   3.933098  0.487923        10
236  50    0.9  10  18   3.831749  0.487923        10
237  50    0.9  30   6  40.071485  0.487923        10
238  50    0.9  30  12  27.479124  0.487923        10
239  50    0.9  30  18  27.905389  0.487923        10
240  50    0.9  70   6  87.229098  0.487923        10
241  50    0.9  70  12  58.601573  0.487923        10
242  50    0.9  70  18  59.562766  0.487923        10

30x90

     T0  alpha   L   D  mean_time  efficacy  clusters
243  10    0.7  10   6   5.926540  0.346633         7
244  10    0.7  10  12   7.233370  0.355000         7
245  10    0.7  10  18   6.078207  0.349127         7
246  10    0.7  30   6   7.393195  0.346633         7
247  10    0.7  30  12   7.746685  0.355000         7
248  10    0.7  30  18   7.756730  0.349127         7
249  10    0.7  70   6   7.806093  0.346633         7
250  10    0.7  70  12   7.874278  0.355000         7
251  10    0.7  70  18   7.758870  0.349127         7
252  10    0.8  10   6   2.721576  0.277162         3
253  10    0.8  10  12   4.948658  0.342529         5
254  10    0.8  10  18  12.047390  0.378238         7
255  10    0.8  30   6   2.931335  0.279642         3
256  10    0.8  30  12   3.432889  0.280822         3
257  10    0.8  30  18   3.462020  0.280822         3
258  10    0.8  70   6   2.849176  0.277162         3
259  10    0.8  70  12   3.434253  0.281179         3
260  10    0.8  70  18   3.313633  0.281179         3
261  10    0.9  10   6   7.038973  0.281179         3
262  10    0.9  10  12  11.113170  0.378238         7
263  10    0.9  10  18   2.247597  0.281179         3
264  10    0.9  30   6  19.807194  0.281179         3
265  10    0.9  30  12   3.821312  0.281179         3
266  10    0.9  30  18   3.895358  0.281179         3
267  10    0.9  70   6  41.045506  0.281179         3
268  10    0.9  70  12   3.869840  0.281179         3
269  10    0.9  70  18   3.788335  0.281179         3
270  30    0.7  10   6   6.189510  0.354115         7
271  30    0.7  10  12   7.602464  0.362500         7
272  30    0.7  10  18   5.833301  0.356608         7
273  30    0.7  30   6   7.894527  0.354115         7
274  30    0.7  30  12   8.656757  0.362500         7
275  30    0.7  30  18   8.524097  0.356608         7
276  30    0.7  70   6   7.979913  0.354115         7
277  30    0.7  70  12   2.747267  0.243187         3
278  30    0.7  70  18   8.764707  0.356608         7
279  30    0.8  10   6   3.033241  0.280460         3
280  30    0.8  10  12   2.101886  0.281179         3
281  30    0.8  10  18   4.393054  0.337264         5
282  30    0.8  30   6   3.031750  0.281179         3
283  30    0.8  30  12   3.768394  0.281179         3
284  30    0.8  30  18   3.730850  0.281179         3
285  30    0.8  70   6   3.226249  0.280822         3
286  30    0.8  70  12   3.791387  0.281179         3
287  30    0.8  70  18   3.806868  0.281179         3
288  30    0.9  10   6   4.881050  0.281179         3
289  30    0.9  10  12  10.229338  0.378238         7
290  30    0.9  10  18   3.600211  0.281179         3
291  30    0.9  30   6  24.756803  0.281179         3
292  30    0.9  30  12   3.786536  0.281179         3
293  30    0.9  30  18   3.805237  0.281179         3
294  30    0.9  70   6  52.599218  0.281179         3
295  30    0.9  70  12   3.681790  0.281179         3
296  30    0.9  70  18   3.729985  0.281179         3
297  50    0.7  10   6   7.811417  0.359102         7
298  50    0.7  10  12   6.199077  0.366834         7
299  50    0.7  10  18   4.825817  0.327982         5
300  50    0.7  30   6   2.373299  0.248908         3
301  50    0.7  30  12   2.865875  0.247357         3
302  50    0.7  30  18   5.620086  0.327982         5
303  50    0.7  70   6   2.363309  0.244770         3
304  50    0.7  70  12   2.688249  0.267223         3
305  50    0.7  70  18   5.593776  0.327982         5
306  50    0.8  10   6   7.796792  0.387097         7
307  50    0.8  10  12   7.151341  0.378238         7
308  50    0.8  10  18   8.507877  0.378238         7
309  50    0.8  30   6   4.006400  0.281179         3
310  50    0.8  30  12   3.821274  0.281179         3
311  50    0.8  30  18   3.599840  0.281179         3
312  50    0.8  70   6   4.157988  0.281179         3
313  50    0.8  70  12   3.678383  0.281179         3
314  50    0.8  70  18   3.757374  0.281179         3
315  50    0.9  10   6   4.398141  0.281179         3
316  50    0.9  10  12   4.508531  0.345154         5
317  50    0.9  10  18   3.531415  0.281179         3
318  50    0.9  30   6  26.783922  0.281179         3
319  50    0.9  30  12   3.739558  0.281179         3
320  50    0.9  30  18   3.697019  0.281179         3
321  50    0.9  70   6  57.558559  0.281179         3
322  50    0.9  70  12   3.876399  0.281179         3
323  50    0.9  70  18   3.632013  0.281179         3

37x53

     T0  alpha   L   D  mean_time  efficacy  clusters
324  10    0.7  10   6   0.715442  0.582267         3
325  10    0.7  10  12   0.626941  0.588665         3
326  10    0.7  10  18   0.641486  0.596330         3
327  10    0.7  30   6   0.710255  0.582267         3
328  10    0.7  30  12   0.676267  0.588665         3
329  10    0.7  30  18   0.639849  0.596330         3
330  10    0.7  70   6   0.674380  0.582267         3
331  10    0.7  70  12   0.656585  0.588665         3
332  10    0.7  70  18   0.642101  0.596330         3
333  10    0.8  10   6   0.920107  0.604651         3
334  10    0.8  10  12   0.846389  0.604651         3
335  10    0.8  10  18   0.893261  0.600736         3
336  10    0.8  30   6   0.978632  0.604651         3
337  10    0.8  30  12   0.900836  0.604651         3
338  10    0.8  30  18   0.883248  0.600736         3
339  10    0.8  70   6   0.980760  0.604651         3
340  10    0.8  70  12   0.899130  0.604651         3
341  10    0.8  70  18   0.872514  0.600736         3
342  10    0.9  10   6   1.006644  0.604651         3
343  10    0.9  10  12   0.828403  0.604651         3
344  10    0.9  10  18   0.872578  0.600736         3
345  10    0.9  30   6   1.012903  0.604651         3
346  10    0.9  30  12   0.859390  0.604651         3
347  10    0.9  30  18   0.864167  0.600736         3
348  10    0.9  70   6   0.976486  0.604651         3
349  10    0.9  70  12   0.865233  0.604651         3
350  10    0.9  70  18   0.834447  0.600736         3
351  30    0.7  10   6   0.764134  0.604651         3
352  30    0.7  10  12   0.752632  0.604651         3
353  30    0.7  10  18   0.726321  0.600736         3
354  30    0.7  30   6   0.762876  0.604651         3
355  30    0.7  30  12   0.774530  0.604651         3
356  30    0.7  30  18   0.762262  0.600736         3
357  30    0.7  70   6   0.734502  0.604651         3
358  30    0.7  70  12   0.739071  0.604651         3
359  30    0.7  70  18   0.779270  0.600736         3
360  30    0.8  10   6   0.925611  0.604651         3
361  30    0.8  10  12   0.748163  0.604651         3
362  30    0.8  10  18   0.836638  0.600736         3
363  30    0.8  30   6   0.986575  0.604651         3
364  30    0.8  30  12   0.814635  0.604651         3
365  30    0.8  30  18   0.870208  0.600736         3
366  30    0.8  70   6   0.967885  0.604651         3
367  30    0.8  70  12   0.851922  0.604651         3
368  30    0.8  70  18   0.885463  0.600736         3
369  30    0.9  10   6   1.008129  0.604651         3
370  30    0.9  10  12   0.825181  0.604651         3
371  30    0.9  10  18   0.895198  0.600736         3
372  30    0.9  30   6   1.001169  0.604651         3
373  30    0.9  30  12   0.837335  0.604651         3
374  30    0.9  30  18   0.882347  0.600736         3
375  30    0.9  70   6   0.942084  0.604651         3
376  30    0.9  70  12   0.837697  0.604651         3
377  30    0.9  70  18   0.853182  0.600736         3
378  50    0.7  10   6   0.815036  0.604651         3
379  50    0.7  10  12   0.778996  0.604651         3
380  50    0.7  10  18   0.832651  0.600736         3
381  50    0.7  30   6   0.853966  0.604651         3
382  50    0.7  30  12   0.828213  0.604651         3
383  50    0.7  30  18   0.842755  0.600736         3
384  50    0.7  70   6   0.837713  0.604651         3
385  50    0.7  70  12   0.804280  0.604651         3
386  50    0.7  70  18   0.857200  0.600736         3
387  50    0.8  10   6   0.875844  0.604651         3
388  50    0.8  10  12   0.819429  0.604651         3
389  50    0.8  10  18   0.805068  0.600736         3
390  50    0.8  30   6   0.988686  0.604651         3
391  50    0.8  30  12   0.904564  0.604651         3
392  50    0.8  30  18   0.904529  0.600736         3
393  50    0.8  70   6   1.003060  0.604651         3
394  50    0.8  70  12   0.861308  0.604651         3
395  50    0.8  70  18   0.862415  0.600736         3
396  50    0.9  10   6   0.984605  0.604651         3
397  50    0.9  10  12   0.830193  0.604651         3
398  50    0.9  10  18   0.881879  0.600736         3
399  50    0.9  30   6   1.008393  0.604651         3
400  50    0.9  30  12   0.836817  0.604651         3
401  50    0.9  30  18   0.873354  0.600736         3
402  50    0.9  70   6   0.974018  0.604651         3
403  50    0.9  70  12   0.836118  0.604651         3
404  50    0.9  70  18   0.856115  0.600736         3